@import "tailwindcss";
@import "./themes/teal-orange.css";
@import "./variables.css";
@import "tw-animate-css";

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Adds pointer cursor to buttons */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

/* Defaults hover styles on all devices */
@custom-variant hover (&:hover);

/* Dark mode styles */
@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Marquee animations */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-400px * 5));
  }
}

@keyframes marquee-reverse {
  0% {
    transform: translateX(calc(-400px * 5));
  }
  100% {
    transform: translateX(0);
  }
}

@theme {
  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-reverse: marquee-reverse 40s linear infinite;
}

/* Custom scrollbar utility */
@utility scrollbar-thin {
  &::-webkit-scrollbar {
    width: 0.5rem;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-gray-100);
    border-radius: 9999px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-gray-300);
    border-radius: 9999px;
  }

  &:is(.dark *)::-webkit-scrollbar-track {
    background-color: var(--color-neutral-700);
  }

  &:is(.dark *)::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }
}
